<div class="registration-page">
  <div class="form">
    <form class="register-form">
      <input [(ngModel)]="model.name" name="name" type="text" placeholder="name"/>
      <input [(ngModel)]="model.password" name="password" type="password" placeholder="password"/>
      <input [(ngModel)]="model.email" name="email" type="text" placeholder="email address"/>
      <button type="submit" (click)="register()">Register</button>
      <p class="message">Already registered? <a href="#" [routerLink]="['/login']">Sign In</a></p>
    </form>
  </div>
</div>
